/* html,body{
    height:100%;
  } */
  /* body{
    text-align:center;
  } */
  /* body:before{
    content:'';
    height:100%;
    display:inline-block;
    vertical-align:middle;
  } */
  .btn_style{
    border-radius: 10px;
    background:rgba(101, 4, 196, 1);
    color:#fff;
    border:none;
    position:relative;
    width: 70px;
    height: 30px;
    font-size:15x;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    text-align: center;
  }

  .btn_style:hover{
    background:#000000;
    color: white;
    color:rgba(101, 4, 196, 1);
  }
  .btn_style:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:6;
    height:2px;
    width:0;
    background:rgba(101, 4, 196, 1);
    transition:400ms ease all;
  }
  .btn_style:after{
    right:inherit;
    top:inherit;
    left:6;
    right: 6px;
    bottom:0;
  }
  .btn_style:hover:before,.btn_style:hover:after{
    width:70%;
    transition:900ms ease all;
  }