*{
    margin: 0px;
    padding: 0px;
}
/* DIVISÃO HEADER */
.body-header{
    height: 110px;
    background-color: rgba(145, 134, 134, 0.247);
    box-shadow: 2px -3px 30px 3px rgba(0,0,0,0.79);
    display: flex;
    justify-content: center;
}
.seletc_g{
    display: flex;
    flex-direction: row;
}
/* MENU SELETOR DO HEADER */
.select_header{
    width: 150px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* IMAGEM DO SELETOR HEADER */
.icon_select{
    cursor: grab;
    width: 45px;
    height: 45px;
}
/* DIVISÃO A BAIXO DO HEADER */
.Bottom_header{
    width: 100%;
    height: 50px;
    /* background-color: aqua; */
}
/* DIVISÃO CONTAINER */
.container_body{
    background-color: rgba(0, 0, 0, 0.171);
    width: 100%;
    height: 440px;
    display: flex;
    gap: 2px;
}
.container_son{
    padding-left: 20px;
    height:440px;
    background-color: rgba(127, 255, 212, 0.315);
}