body {
    margin: 0;
    padding: 0;
}


/* 
INICIO CONFIGURAÇÕES HEADER*/

.header {
    background-color: #c0bbbb;
    height: 7rem;
    display: grid;
    align-items: center;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0);
}

.list-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    height: 4rem;
}

.list-header a {
    text-decoration: none;
    color: white;
    background-color: rgb(164, 96, 228);
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1rem;
}

.btn:hover {
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0);
}


/* END HEADER */


/* DIV CONTAINER DO MODAL RESPOSÁVEL PELO FUNDO DO MODAL*/

.container-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.lista-cadastro h1 {
    color: rgb(117, 115, 115);
}

.janela-cadastro {
    width: 45rem;
    margin: 5% auto;
    border: none;
    padding: 10px;
    width: 40%;
}

.lista-cadastro {
    display: grid;
    gap: 0.5rem;
    list-style: none;
    background-color: rgb(240, 240, 240);
    padding: 2rem 3rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.lista-cadastro li {
    display: grid;
    justify-content: center;
}

.lista-cadastro input {
    grid-column: 2;
}

.close {
    display: none;

}

.close:hover,
.close:focus {
    color: rgb(139, 132, 132);
    text-decoration: none;
    cursor: pointer;
}
/* END CONTAINER MODAL */

/* CONFIGURAÇÕES DAS CLASSES ONDE FICAM AS TABELAS */
.btn-cadastro{
    padding: 0.5rem;
    color: white;
    text-transform: uppercase;
    border-radius: 1rem;
    border: none;
    background-color: rgb(164, 96, 228);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}
.btn-cadastro:hover {
box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0);
}

.container{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.container_son{
    width: 170vh;
}
.container_son a{
    text-decoration: none;
    color: rgb(87, 87, 87);
}
/* CONFIGURAÇÕES TABELAS */
table {
    width: 100%;
    border-collapse: collapse; /* Para que as bordas não se sobreponham */
}

th, td {
    border: 1px solid black; /* Borda de 1px, cor preta */
    padding: 2px;
    text-align: center;
}

th {
    background-color: #f2f2f2; /* Cor de fundo para o cabeçalho */
}