/* ESTILIZAÇÕES MODAL */
.btn:hover{
    background-color: red;
}

.janela-modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display:none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.055);

}
.modal{
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 30%;
    min-height: 250px;
    backdrop-filter: blur(10px);
    background-color: white;
    padding: 50px;
    border-radius: 30px;
}
.fechar{
    position: absolute;
    top: 10x;
    right: 10px;
    width: 30px;
    height: 23px;
    border-radius: 30px;
    border: 0;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
.janela-modal.abrir{
    display: flex;
}

@keyframes abrirmodal {
    from{
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0); 
    }
}
.abrir .modal{
    animation: abrirmodal 0.7s;
}